<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Let us answer your question! (Hopefully)</title>
</head>
<body>
    <div class="container">
        <div class="container">
          <h1 class="text-center" style="margin:50px;">Hello! I am an AI that is ready to answer your question! Hopefully I get it right!</h1>
        </div>
        <div class="card" style="width: 36rem; margin: auto;">
          <img class="card-img-top" src="{{ filename }}" alt="Image with Question">
          <div class="card-body">
            <h5 class="card-title">{{ question }}</h5>
            <p class="card-text">{{ answer }}</p>
          </div>
        </div>

    </div>

</body>
</html>